video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  margin-left: 80px;
}

.search {
  width: 30%;
  padding: 15px;
  box-shadow: inset 1px 1px 1px 6px #c5dce1;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  }

  .par {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #F7E987;
  }

  .label {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #F7E987;
  }

form {
  display: flex;
} 

button {
  border: none;
  background-color: #35b3cf;
  cursor: pointer; 
}